header {
    position: fixed;
    top: 0px;
    
}

.head-top {
    padding-right: 350px;
    padding-left: 310px;
    padding-right: 300px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 55px;
}

.head-bottom {
    display: flex;

}

.head2 {
    display: flex;
    gap: 25px;
}

body {
    background-color: #F4F2EE;
    margin: 0px;
}

.search {
    border: none;
    padding: 0px;
}

.search-one-bar {
    border: 1px solid black;
    width: 280px;
    height: 17px;
    border-radius: 50px;
    padding: 7px;
}

.home {
    padding-left: 120px;
    margin-top: 6px;
    height: 40px;
    width: 50px;
}
#spam-link a{
    text-decoration: none;
    color:#666666 ;
}

.home1 {
    height: 30px;
        margin-top: 6px;
    width: 80px;
}

.home2 {
    height: 40px;
    width: 40px;
        margin-top: 6px;


}

.SP {
    font-size: 14px;
    margin-top: 4px;
}

.im {
    border-radius: 50%;
}

.size-6 {
    height: 10px;
    width: 10px;
    font-size: 15px;
}

.home3 {
    padding-left: 0px;
    width: 85px;
        margin-top: 6px;

}

.home4 {
    padding-left: 10px;
    width: 150px;
        margin-top: 6px;

}

.box1 {
    margin-top: 70px;
    padding-left: 330px;
    padding-right: 300px;
    background-color: hwb(40 93% 4%);

}

.con {
    height: 600px;
    width: 900px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.img-algorithum {
    height: 40%;
    width: 100%;

    border-radius: 10px;
}

.arham {
    border: 6px solid white;
    top: 180px;
    left: 350px;
    height: 170px;
    width: 170px;
    position:absolute;
    border-radius: 50%;
}

.name {
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.name1 {
    padding-left: 20px;
    margin-top: 0px;
}

.a {
    text-decoration: none;
    color: rgb(89, 131, 248);
    font-size: 20px;
}

.a1 {
    text-decoration: none;
    color: rgb(89, 131, 248);
    font-size: 20px;
    padding-left: 20px;
}

.b1 {
    background-color: #0A66C2;
    color: #F4F2EE;
    border-radius: 20px;
    margin-left: 20px;
    height: 40px;
    width: 120px;
    font-size: 15px;
    border: none;
}

.b2 {
    color: #0A66C2;
    background-color: #F4F2EE;
    margin-left: 10px;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size: 15px;
    border: 1px solid #0A66C2;
}

.b3 {
    border-radius: 20px;
    margin-left: 10px;
    height: 40px;
    width: 120px;
    font-size: 15px;
    border: 1px solid black;
}

.keep-l {
    margin-left: 520px;
    height: 200px;
    width: 270px;
    position: relative;
    bottom: 150px;
}

.mn {
    text-decoration: none;
    color: black;
    position: relative;
}
.gg-one{
    position: relative;
}

.box2 {
    height: 250px;
    width: 900px;
    border-radius: 10px;
    background-color: #FFFFFF;

}

.h2 {
    padding-top: 30px;
    padding-left: 20px;
}

.da {
    border: 1px solid #F4F2EE;
    margin-top: 0%;
    margin-left: 20px;
    height: 80px;
    border-radius: 10px;
}

.LP {
    padding-left: 37px;
    margin-top: 0px;
    padding-top: 0%;
}

.ar {
    margin-left: 340px;
    height: 30px;
    width: 30px;
    margin-top: 0px;
}

.box3 {
    height: 1050px;
    width: 900px;
    border-radius: 10px;
    background-color: #FFFFFF;

}

.bn {
    padding-left: 20px;
}

.line {
    height: 80px;
}

.line0 {
    height: 90px;
    display: flex;
    gap: 7px;
}

.line1 a {
    text-decoration: none;
    color: black;
}

.line2 {
    align-items: center;
}

.line01 {
    height: 90px;
    display: flex;
    gap: 7px;
    margin-top: 50px;
}

.line90 {
    padding-left: 70px;

}

.line90 a {
    text-decoration: none;
    color: black;
}

.line13 {
    margin-top: 30px;
}

.aa {
    position: relative;
    bottom: 1930px;
    left: 1250px;
    width: 350px;
    height: 1100px;
    background-color: #FFFFFF;
}

.ba {
    border-radius: 50%;
}

.lines {
    height: 80px;
}

.lines a {
    text-decoration: none;
    color: black;
}

.ll {
    display: flex;
    gap: 10px;
}

.aq {
    background-color: #0A66C2;
    color: #F4F2EE;
    border-radius: 20px;
    margin-left: 10px;
    height: 40px;
    width: 120px;
    font-size: 15px;
    border: none;
}

.mmn {
    margin-top: 60px;
}

.nnb {
    margin-left: 100px;
    margin-top: 50px;
}
